* {
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.cross__circle {
  stroke-dasharray: 520; 
  stroke-dashoffset: 520; 
  stroke-width: 4;
  stroke-miterlimit: 10;
  stroke: #f44336;
  fill: none;
  animation: stroke 1.2s cubic-bezier(0.65, 0, 0.45, 1) forwards; /* Adjusted animation duration */
}

.cross {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  stroke-width: 4; /* Adjusted for a larger circle */
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #f44336; /* Red color for error */
  animation: fill 0.6s ease-in-out 0.4s forwards, scale 0.5s ease-in-out 0.9s both; /* Adjusted animation duration */
}

.cross__mark {
  transform-origin: 50% 50%;
  stroke-dasharray: 96; 
  stroke-dashoffset: 96; 
  animation: stroke 0.7s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards; 
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 100px #f44336;
  }
}
